body
 { 
     margin:0;
     height: 100%; 
     width: 100%;
}
header{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: 20px;
    align-items: center;
    font-family: arial,sans-serif;
    flex-shrink: 0;
    box-sizing: border-box;
}

.header__item{
    margin-left: 15px;
    color:rgba(0,0,0,0.87);
}
.account{
    border-radius: 50%;
    overflow: hidden;
}
.google{
    margin-top: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.search{
    padding-left: 10px;
    margin: auto;
    height: 40px;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 500px;

}
.magnifier{
    margin-top: 10px;
    fill: #9aa0a6;
    height: 20px;
    width: 20px;
}
.input
{
    border-color: transparent;
    outline: transparent;
    font-family: inherit;
    font-size: inherit;
    padding-inline-end: 0px;
    height: 100%;
    width: 230px;
}
.keyboard
{
    margin-left : 180px;
    margin-top: 14px;
    height: 12px;
    width: 20px;
    vertical-align: middle;
}
.searchbyvoice
{
    margin-left : 12px;
    margin-top: 8px;
    height: 24px;
    width: 24px;
}
.center
{
    margin-top: 30px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}
.center_item
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    outline: transparent;
    padding: 10px 10px;
    font-size: 15px;
    margin: 11px 4px;
}
.language
{
    margin-top: 30px;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
}
.language a
{
    padding: 0 3px;
}
.footer
{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.vietnam
{
    font-family: arial,sans-serif;
    background: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:rgba(0,0,0,.54);

}
  
.end
{
    font-family: arial,sans-serif;
    background: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:rgba(0,0,0,.54);
    display: flex;
    justify-content: space-between;
}
.other
{
    display: flex;
    font-size: 15px;
}
.item{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}