body
 { 
     margin:0;
     height: 100%; 
     width: 100%;
     font-size: 14px;
}
header{
    display: flex;
    justify-content: flex-end;
    margin-right: 17px;
    margin-top: 13px;
    align-items: center;
    font-family: arial,sans-serif;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 13px;
}
.header__item{
    margin-left: 20px;
}
.header__item a{
    color:rgba(0,0,0,0.87);
}
.header_image{
    display: inline-block;
    outline: none;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    color: #000;
    cursor: pointer;
    text-decoration: none;
    padding: 4px;

}
.header_image svg{
    padding:4px;
    color: #5f6368;
    fill: currentColor;
    opacity: 1;

}
.header__item .header_image:hover{
    outline: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(60,64,67,0.08);
    opacity: 1;
}
.account{
    border-radius: 50%;
    overflow: hidden;
}
.google{
    margin-top: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.search{
    margin: auto;
    height: 45px;
    display: flex;
    justify-content: center;
    position: relative;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    max-width: 584px;
}
.search:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}
.magnifier{
    margin-top: 12px;
    fill: #9aa0a6;
    height: 20px;
    width: 20px;
}
.input
{
    border-color: transparent;
    outline: transparent;
    font-family: inherit;
    font-size: inherit;
    padding-inline-end: 0px;
    height: 100%;
    width: 230px;
}
.keyboard
{
    margin-left : 240px;
    margin-top: 16px;
    height: 12px;
    width: 20px;
    vertical-align: middle;
}
.keyboard:hover{
    cursor: pointer;
}
.searchbyvoice
{
    margin-left : 20px;
    margin-top: 10px;
    height: 24px;
    width: 24px;
}
.searchbyvoice:hover{
    cursor: pointer;
}
.center
{
    margin-top: 18px;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    
}
.center_item
{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    outline: transparent;
    padding: 10px 16px;
    font-size: 14px;
    margin: 11px 5px;
    color: #3c4043;
}
.center_item:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}
.language
{
    margin-top: 20px;
    font-family: arial,sans-serif;
    font-size: small;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    color: #3c4043;
}
.language a
{
    color: #1a0dab;
    padding: 0 3px;
}
.footer
{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.vietnam
{
    font-family: arial,sans-serif;
    background: #f2f2f2;
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:rgba(0,0,0,.54);

}
  
.end
{
    font-family: arial,sans-serif;
    background: #f2f2f2;
    padding: 15px 20px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color:rgba(0,0,0,.54);
    display: flex;
    justify-content: space-between;
}
.other
{
    display: flex;
    font-size: 14px;

}
.item{
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    white-space: nowrap;
}
a {
    color: #70757a;
    text-decoration: none;
  }
a:hover{
    text-decoration: underline;
    cursor:pointer;
}